body {
  font-family: 'Roboto',arial,sans-serif !important;
  padding: 15px;
}

@media only screen and (max-width: 768px){
  .paso{
    display: block !important;
    width: 100% !important;
    margin-bottom: 10px;
  }
  .descripcionindicacion{
    padding-top: 3px !important;
  }
  #botonesaccion, #clave{
    display: block;
    width: 100% !important;
    position: relative !important;
  }
  #botonesaccion{
    margin-top: 20px;
  }
  #barraclave{
    height: 100px !important;
  }
  .column{
    width: 88.5% !important;
  }
  .izquierda{
    border-radius: 30px 30px 0px 0px !important;
  }
  .derecha{
    border-radius: 0px 0px 30px 30px !important;
    margin-top: -2px !important;
    margin-left: 0px !important;
  }
}


#titulo {
  display: inline-block;
  font-size: 35px;
  position: relative;
  top: -3.5px;
  margin-bottom: 0px;
}

#descripciontitulo {
  font-size: 13px;
  color: #737373;
  MARGIN-LEFT: 1PX;
}

#barraclave {
  height: 50px;
  background-color: darkorange;
  font-size: 15px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 0px;
  width: 96.5%;
  border-radius: 0px 0px 32px 32px;
  display: inline-block;
}

#clave{
  width: 30%;
  margin-left: 15px;
  position: absolute;
  z-index: 1000;
}

#barratitulo{
  padding-bottom: 5px;
  color: darkorange;
  border-bottom: #efefef 5px solid;
  width: 96.5%;
}

#cuadrodetextos{

}

#botonesaccion{
  width: 100%;
  text-align: center;
}

#botonesauxiliares{
  display: inline-block;
  margin: 15px 0px;
  width: 96.5%;
  text-align: center;
}

#entradaDesplazamiento{
  margin-left: 5px;
  padding: 3px;
  padding-left: 11px;
  padding-right: 5px;
  border-radius: 16px;
  border-color: darkorange;
  width: 100px;
  height: 20px;
}

.column {
  float: left;
  width: 45%;
  height: 150px;
  padding: 20px;
  margin-top: 13px;
  border: 2px solid darkorange;
  font-size: 24px;
  font-family: 'Roboto',arial,sans-serif;

}

.izquierda{
  border-radius: 30px 0px 0px 30px;
}

.derecha{
  margin-left: -2px;
  border-radius: 0px 30px 30px 0px;
}


.boton{
  width: 120px;
  height: 30px;
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  font-size: 18px;
  color: darkorange;
  background-color: #fffefe;
  border-radius: 16px;
  border: 2px solid #bfbfbf;
  -webkit-transition: color 0.1s, background 0.3s, border 0.5s;
  transition: color 0.1s, background 0.3s, border 0.5s;
  box-shadow: 1px 2px 2px grey;  
}

.boton:hover{
  background-color: rgb(255, 172, 71);
  color: #ffffff;
  border-color: #fff6ee;
  cursor: pointer;
}

.aux{  
  background-color: darkorange;
  color: #ffffff;
  border: #ffc886 solid 2px;
}

.aux:hover{
  background-color: #fff6ee;
  color: #909090;
  border-color: #737373;
  cursor: pointer;
}

#barrainfo{
  border-bottom: #555555 solid 2px;
  width: 96.5%;
  padding-bottom: 10px;
  padding-top: 15px;
  display: inline-block;
}

.paso{
  color: #989898;
  width: 25%;
  float: left;
  font-size: 12px;
}

.indicacion{
  color: #6b6b6b;
  font-size: 20px;
  margin-left: 5px;
}

.numero{
  color: #909090;
  font-size: 20px;
  font-weight: bold;
  border: darkorange solid 2px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
}

.descripcionindicacion{
  color: #737373;
  display: inline-block;
  padding: 9px 35px 0px 55px;
}

.iconotitulo {
  font-size: 40px;
  display: inline-block;
  width: 50px;
}